img{
    margin: 60px;
    margin-top: 50px;
    border-radius: 10px;

}
p{
    position: relative;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
span img{
    margin: 10px 5px;
    border-radius: 30px;
    
}
